*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-style{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  color: white;
  list-style-type: none;
  text-transform:uppercase;
  
}
.menu-style ul{
  list-style-type: none;
  background-color: teal;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.home{
  background-color: greenyellow;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  background-color: darkgoldenrod;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about{
  background-color: skyblue;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}